
<%- include("partials/header.ejs") %>

        <main class="container p-4 text-bg-dark rounded-1 shadow">
            <% if (locals.qqq) { %>
                <h1 class="my-3"><%= qqq.postTitle %></h1>
                <pre class="my-5"><%= qqq.postBody %></pre>
            <% } else { %>
                <h3>No blog post to show.</h3>
            <% } %>
        </main>
        
<%- include("partials/footer.ejs") %>